body {
    margin: 0;
}

.container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.slide {
    height: 100vh;
    scroll-snap-align: start;
}

.slide1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: url("https://png.pngtree.com/background/20250110/original/pngtree-sportswear-and-black-sneakers-with-laces-picture-image_15565143.jpg")
    center / cover no-repeat;
}

.slide2 {
    background-color: royalblue;
}

.slide3 {
    background-color: goldenrod;
}

.nav {
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    padding: 30px 20px;
}

.navleft {
    grid-column: 2;
    grid-row: 1;
    justify-content: start;
    align-items: start;
}

.navright {
    grid-column: 10;
    grid-row: 1;
    justify-content: end;
    align-items: start;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #E62C5F;
    width: 110px;
    text-align: center;
    align-content: center;
    height: 35px;
    border-radius: 10px;
}

.shop-name {
    grid-column: 5;
    grid-row: 2;
    display: grid;
    place-items: center;
    user-select: none;
    position: relative;
    top: -20%;
    left: -3%;
}

.shop-name h1 {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 128, 255, 0.482), -2px -2px 10px rgba(255, 0, 0, 0.437);
}

.shop-name h2 {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 5px white;
}

/* .navright a {
    background-color: #E62C5F;
    width: 110px;
    text-align: center;
    align-content: center;
    height: 35px;
    border-radius: 10px;
} */