* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 231, 210);
}
.slide {
    min-height: 100vh;
    overflow-y: auto;
}

.slides {
    min-height: 100vh;
}

.slide1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: auto;
    row-gap: 40px;
    padding-bottom: 60px;
}

.navbar {
    grid-column: 5 / 7;
    grid-row: 0 / 2;
    display: flex;
    gap: 20px;
    transform: translateX(-10px);
    transform: translateY(-10px);
}

header {
    grid-row: 1;
    grid-column: 1;
    transform: translateX(60px);
}
header a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 1.5em;
}
header p {
    padding-left: 5px;
    transform: translateY(-15px);
}

.slide1 {
    align-items: center;
}

.links {
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
    padding: 5px;
    border-radius: 15px;
    transition: color 0.3s ease;
}

.links:hover {
    color: white;
    background-color: #000;
}

.signbtn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 20%);
    padding: 12px 28px;
    padding: 14px 36px;
    border-radius: 999px;
    border: none;
    background: black;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.signbtn:hover {
    background-color: rgb(61, 61, 61);
}

.copyright {
    text-align: center;
}