* {
    color: whitesmoke;
}

body {
    margin: 0;
    background-color: black;
}

.slide {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.slides {
    scroll-snap-align: start;
}
.slide1 {
    height: 100vh;
    background-image: url(https://png.pngtree.com/background/20250110/original/pngtree-sportswear-and-black-sneakers-with-laces-picture-image_15565143.jpg);
    background-size: cover;
}
.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.items {
    display: flex;
}

.navbar1 {
    align-items: center;
    gap: 60px;
    padding-left: 30px;
    font-size: 1.3em;
}

.shopname {
    font-size: 30px;
}

.navbar2 {
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 1.3em;
}

.slide2 {
    height: 100vh;
    background-color: rgb(10, 35, 35);
}

.slide3 {
    height: 100vh;
    background-color: rgb(0, 49, 49);
}